<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Wrobel Montageservice GbR"

    :javascript
      i1 = new Image(); i2 = new Image(); i3 = new Image();
      i1.src = '#{image_path('kitchen1.jpg')}';
      i2.src = '#{image_path('kitchen2.jpg')}';
      i3.src = '#{image_path('kitchen3.jpg')}';

    = stylesheet_link_tag "normalize", "style"

  %body{:class => page_classes}

    %header#header
      .container
        %a.logo{href: '/index.html'}
        %h1
          Wrobel Montageservice GbR

        = yield

    #main=# yield

    %footer#footer
      &copy; 2014 Wrobel Montageservice GbR
      &middot;  
      = link_to '(08444) 9249 142', 'tel:084449249142'
      &middot;
      = mail_to 'info@wrobel-ms.de'
      &middot;
      = link_to 'Impressum', '/impressum.html'
      &middot;
      = link_to 'Datenschutz', '/datenschutz.html'

    = javascript_include_tag  "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js", "script"
